<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    <section class="container">
        <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="my image" class="image">
        <h2>Welcome to My Project</h2>
        <p>
            Hello, I'm Bideet Pratap Singh, and I am the creator of this Stock Market Analysis System (InsightStocks). This project aims to provide users with a platform to analyze stock data using a variety of technical indicators, giving insights into market trends and helping investors make informed decisions.
        </p>
        <h3>Background</h3>
        <p>
            I have a passion for finance, data analysis, and software development. My background in computer science and a little bit of stock market has allowed me to create this project to integrate my interests in both coding and the stock market.
        </p>
        <h3>What This Project Does</h3>
        <p>
            This web-based platform provides real-time data and analysis using indicators like RSI, MACD, and moving averages to help users assess stock market performance. My goal is to offer an easy-to-use interface and actionable insights to users interested in the stock market.
        </p>
        <h3>Why I Built This</h3>
        <p>
            I built this system to combine my passion for coding with my interest in financial markets. This project is a part of my ongoing learning journey in both stock market analysis and web development.
        </p>
        <h3>Technology Stack</h3>
        <p>
            The project is built using Python (Flask for the backend), HTML/CSS for frontend development, and utilizes scraping techniques to gather stock data from real-time sources. The platform's core functionality is focused on providing accurate technical indicators to users.
        </p>
        <h3>Future Goals</h3>
        <p>
            Moving forward, I plan to expand this project by integrating more  complex indicators, adding user portfolios, and possibly incorporating  AI-powered predictions. I also aim to improve the UI/UX to make it even  more user-friendly.
        </p>
        <h3>Contact</h3>
        <p>
            If you have any questions or feedback, feel free to reach out! You can contact me at bideets3035@gmail.com.
        </p>
    </section>
</body>
</html>