<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            {% if not hide_auth_links %}
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {% endif %}
            {% endif %}
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>